* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin:0;
    font-size: 62.5%;
}

body {
    margin: 0;
}

.kopf {
    font: 1.25rem/1.5 'Kenia', cursive;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    background: linear-gradient(90deg, hsl(45 100% 45%), hsl(45 100% 70%));
    color: #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 900;
}
.kopf-text {
    font-size: 2.5rem;
    text-shadow: 0 0 0.25rem hsl(45 100% 35%)
}


.ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.ul-over {
    display: flex;
    list-style: none;
}
.li-over {
    color: black;
    font-weight: 200;
    padding: 1rem 1.5rem;
    position: relative
}
.li-sub {
    padding: 0.75rem 3rem;
}
.ul-sub {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 10rem;
}
.li-over:hover .li-sub,
.li-over:focus .li-sub,
.li-over:focus-within .li-sub {
    background-color: #000;
    text-align: left;
    padding: 0.25rem 1rem;
    color: white;
}

.li-over:hover .ul-sub { 
        display: block;
}

.li-over:hover,
.li-over:focus,
.li-over:focus-within {
    background-color: #333;
    color: white;
}

.li-sub:hover,
.li-sub:focus,{
    background-color: hsl(45 100% 25%);
}
main {
    display: block;
    margin: 0;
    padding: 2rem 0;
    background-color: hsl(45 50% 85%);
    font: 1.125rem/1.125 Helvetica;
    background-image: url("../images/t.webp");
    background-repeat: no-repeat;
    background-color: gold;
    background-size:cover;
    background-position: 0rem 3rem;
    background-attachment: fixed;
}
.korper-icon {
    display: block;
    width: 25%;
    margin: 5rem auto;
    margin-bottom:1rem;
    border-radius: 50%;
    border: 0.35rem solid darkgreen;
    box-shadow: 0 0 2rem #000;
}
.content-unit{
    max-width: 90%;
    height: fit-content;
    font-weight: 100;
    margin: 0.45rem auto;
    background-color: hsl(45 70% 85%);
    border-bottom: 0.25rem solid hsl(45 100% 50%);
    border-top-left-radius: 1rem;   
    border-top-right-radius: 1rem;   
    box-shadow: 0 0 2rem hsl(0 100 25);
}
.content-unit+.content-unit {

    max-width: 90%;
    height: fit-content;
    font-weight: 300;
    margin: 0.45rem auto;
    background-color: hsl(45 70% 85%);
    border-bottom: 0.25rem solid hsl(45 100% 50%);
    border-top: 0.25rem solid hsl(45 100% 50%);
    border-top-left-radius: 1rem;   
    border-top-right-radius: 1rem;   
    box-shadow: 0 0 2rem hsl(0 100 25);

}

.content-unit p {
    font: 1rem/1.2 sans-serif;
    margin: 2rem auto;
    max-width: 40ch;
}
 
.cut-line+.content-unit {
    margin: 0.45rem auto;
    margin-bottom: 1rem;
    border-top: 0.25rem solid hsl(45 100% 50%);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 0.25rem solid hsl(45 100% 50%);
    border-bottom-left-radius: 1rem;   
    border-bottom-right-radius: 1rem;   
}

.content-header {
    text-align: center;
    color: #000;
    background-color: hsl(45 100% 50%);
    padding: 0.8rem 0;
    border-top: 0.25rem solid hsl(0 100% 25%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.content-header h1 {
    font-family: 'Kenia';
}

.content-header-2 {
    background-color: hsl(40 70% 89%);
    text-align: center;
    border-top: 0.25rem solid hsl(0 100% 25%);
    padding: 0.25rem;
    border-radius: 0.25rem ;
}


.content-main {
    max-width: 80%;
    height: fit-content;
    margin: 0.45rem auto;
    padding: 2rem;
    background-color: hsl(45 80% 90%);
    border: 0.25rem dashed hsl(45 80% 60%);
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 4rem hsl(45 80% 90%);
}
.content-main h1 {
    font: 1.55rem;
    letter-spacing: 1rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 0.5rem hsl(120, 50%, 75%);
    margin-bottom: 1rem;
}
.content-figure {
    display: block;
    width: 30%;
    float: right;
    margin-left: 1rem;
    position: relative;
    box-shadow: 0.1rem 0.1rem 1rem #333;
    border-radius: 0.5rem;
}
.fox {
    width: 100%;
}

.content-figure-2 {
    display: block;
    width: 90%;
    height: fit-content;
    margin: 0.25rem auto;
    border: 0.25rem double white;
    box-shadow: 0 0 2.5rem inset black;
    position: relative;
    margin-bottom: 1.5rem;
}
.content-figcaption-2 {
    position: absolute;
    width: fit-content;
    left: 0;
    bottom:0;
    border-top-right-radius: 0.25rem;
    padding: 0.25rem 2rem 0 0.5rem;
    background-color: hsl(0 50% 80%);
}
.content-img {
    display: block;
    width:100%;
    height: 100%;
}

.content-figcaption {
    position: absolute;
    font: 0.7rem 'Kenia';
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding-top: 1rem;
    background: linear-gradient(to top, hsla(0, 70%, 25%, 0.95), hsla(0, 70%, 25%, 0));
    border-radius: 0.5rem;
}
.content-main h2 {
    font: 1.5rem sans-serif;
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-align: center;
}

.content-main p {
    font: 1.25rem/1.5 sans-serif;
    font-weight: 300;
    margin: 3rem auto;
}
.content-main p+p{
    margin-bottom: 1rem;
}
.content-main a{
    text-decoration: none;
    font-weight: bold;
    color: hsl(0, 70%, 25%)
}
.content-main a:hover{
    text-shadow: 0rem 0rem 0.5rem hsl(40, 70%, 70%);
}
.cut-line {
    margin: 0.25rem auto;
    border-top: 0.15rem solid hsl(0, 70%, 25%);
    border-bottom: 0.15rem solid hsl(0, 70%, 25%);
    border-right: 0;
    border-left: 0;
    width: 70%;
    height: 0.5rem;
}
.cut-line-2 {
    border: 0;
    border-top: 0.45rem dotted brown;
    margin: 0.25rem auto;
    width: 70%
}
.content-main ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 50ch;
    margin: 0.5rem auto;
    width: 60%;
    margin-bottom: 1rem;
}
.content-main ul li {
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.2;
    margin: 0 auto;
}
.feuer {
    border: 0.3rem solid hsl(0, 70%, 25%);
    background-color:hsl(0, 50%, 75%);
    color: hsl(0, 70%, 5%)
}
.wasser {
    border: 0.3rem solid hsl(210, 70%, 25%);
    background-color:hsl(210, 50%, 75%);
    color: hsl(210, 70%, 5%);
}
.pflanze {
    border: 0.3rem solid hsl(120, 70%, 25%);
    background-color:hsl(120, 50%, 75%);
    color: hsl(120, 70%, 5%)
}

.content-fuss {
    padding: 1rem 0;
    background-color: gold;
    box-shadow: 0px 0px 0.5rem hsl(40 50% 70%);
    border-bottom: 0.25rem solid hsl(45 100% 50%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 5rem;
    text-align: center;
    font: 1rem 'Kenia';
}

table {
    margin: 0 auto;
    width: 90%;
    font-family: sans-serif;
    font-size: 80%;
    border-collapse: collapse;
    background-color: wheat;
    text-align: center;
    vertical-align: middle;
}
thead th {
    width: 20%;
    background-color:  hsl(0 30% 50%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2%;
}

thead {
    border: 0.25rem solid hsl(0 100% 27%)
}
tbody {
    border: 0.25rem solid hsl(0 100% 27%)
}
caption {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: hsl(0 50% 5%);
    margin: 0 0 -0.2rem 0;
    text-align: center;
    border: 0.25rem solid hsl(0 100% 27%);
    border-bottom: 0;
    border-radius: 0.25rem;
}
td, th {
    padding: 1rem;
}
tbody th {
    background-color: hsl(0 50% 70%);
}
tbody tr td:nth-child(odd) {
    background-color: hsl(40 80% 90%);
 }
tbody tr td:nth-child(even) {
    background-color: hsl(40 80% 80%);
}
tbody .chosen {
    background-color: ;
    color: purple;
}
.table-label {
    display: none;
}
@media (max-width: 48rem) {
    table,
    thead,
    tbody,
    tr,
    th,
    td {
        display: block;
    }

    thead {
        display: none;
    }
    .table-label {
        display: inline;
        font: 1rem sans-serif;
        font-weight: 700;
        color:#000;
        text-transform: lowercase;
        margin-right: 0.2rem;
    }
}
.text-line {
    width: 60%;
    margin: 1rem auto;
    border-top: 0.5rem palevioletred double;
}

/* tablefind */

.parchment-conditions {
    padding: 2.5rem;
    font: 0.875rem/1.2 serif;
    margin: 1rem auto;
    text-align: center;
    background-color: whitesmoke;
    border-left: solid 0.1rem black;
    border-right: solid 0.1rem black;
    border-top: solid 0.2rem black;
    border-bottom: solid 0.1rem #333 ;
    height: 35rem;
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
    box-shadow: 0 0 3rem inset #333, 0 0 3rem black, 0 0 3rem inset #333;
}

.parchment-conditions h3 {
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    text-align: center;
    margin-bottom: 0.35rem;
}

.parchment-conditions:hover {
    box-shadow: none;
}
.parchment-text p {
    font: 1rem/1.2 serif;
    max-width: 45ch;
    margin: 0 auto;
    background-color:  hsl(40 10% 80%);
    padding: 1.5rem;

}
.parchment-header {
    background-color: hsl(40 20% 80%);
    padding: 1rem;
    margin-bottom: 2rem;
}
.parchment-header h3{
    letter-spacing: 3%;
}
.parchment-text p+h4 {
    text-align: center;
    margin: 0.5rem;
    font-size: 0.4rem;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.parchment-text h5 {
    color: orange;
    margin-top: 2rem;
    font-size: 2rem;
}
blockquote  {
    text-align: center;
    height: fit-content;
    margin: 1rem auto;
    width: 50%;
    font-size: 1.25rem;
    background-color: hsl(40 80% 50%);
    border: 0.3rem solid hsl(0, 70%, 25%);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem black, 0.1rem 0.1rem inset white;
}

form {
    margin:0;
    max-width: 90%;
    text-align: left;
    background-color: hsl(0, 70%, 25%);
    border: 0.5rem double hsl(40 80% 55%);
    color: white;
}
label {
    font: 2rem 'Kenia';
    text-shadow: 0.01rem 0.01rem black;
    margin-left: 1rem;
    margin-bottom: 0;
}

input {
    display: inline;
    border: 0.1rem solid red;
    background-color: hsl(40 25% 4%);
    margin: 1rem;
    font: 1.5rem serif;
    width: 70%;
}
input:hover {
    opacity: 50%;
}

.buttonA {
    display: inline-block;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    background-color: hsl(0 50% 50%);
    border: 0.4rem white solid;
    z-index: 0;
}
.buttonA:hover {
    opacity: 50%;
    box-shadow: 0 0 3rem #333 inset;
}


 .fuss {
    height: fit-content;
    background-color: hsl(0 100% 27%);
    padding: 1.5rem;
    text-align: center
}

.column-list {
    list-style: none;
    columns: 2;
}
.column-list li {
    
}

.fuss h1 {
}

.fuss h5 {
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
}